@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/opensans-regular-webfont.eot');
	src: url('./fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/opensans-regular-webfont.woff') format('woff'),
		url('./fonts/opensans-regular-webfont.ttf') format('truetype'),
		url('./fonts/opensans-regular-webfont.svg#roboto_slabregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Indie Flower';
	src: url('./fonts/indieflower-webfont.eot');
	src: url('./fonts/indieflower-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/indieflower-webfont.woff') format('woff'),
		url('./fonts/indieflower-webfont.ttf') format('truetype'),
		url('./fonts/indieflower-webfont.svg#roboto_slabregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

.neutralBg {
    border-style: solid;
    border-color: #4CCBCB;
    border-width: 20px;
    min-height: 100%;
    min-weight: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 1%;
    z-index: -6;
}

.feetBg {
    background-image: url('pix/bg.png');
    background-size: cover;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -5;
}


.contents {
    text-align: center;
    height: 100%;
    width: 100%;
}

img , object {
    height: 100%;
}

.background {
    background-color: #4CCBCB;
    display: inline-block;
	  color: white;
    padding: 0 1em 0.1em 1em;
    margin-top: 0%;
}

.container {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: "Indie Flower";
}

.titleLogo {
    z-index: 4;
    height: 20%;
    margin: 5% auto 10vh auto;
    display: inline-block;
}

.slideLogo {
    position: absolute;
    right: 22px;
    bottom: 22px;
    z-index: 0;
    height: 15%;
}

#secondTitleHeading {
    margin-top: 1vh;
    padding: 0 0.2em 0 0.2em;
    font-size: 80%;
    font-style: normal;
}

#no-really-all {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#no-really-inner {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-column {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.centered-text {
    width: 100%;
    text-align: center;
}

#telecommpix {
    width: 100%;
}

#felixOuter {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

#felixInner {
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#every4SecondsOuter {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

#every4SecondsInner {
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

h4 {
    font-size: 58px;
}
                
#browserWebRTC {
    height: auto;
    width: 60%;
}